PORT = 5000
DBSERVER=mongodb+srv://<username>:<password>@paperanswerwebsite.i3yw022.mongodb.net/paperAnswer?retryWrites=true
DB=mongodb://localhost:27017/questionpaper
JWT_SECRET_KEY=JVFBDFVDFVIVBUY
JWT_EXPIRE = 5d
COOKIE_EXPIRE = 5
FRONTEND_URL=http://127.0.0.1:5173
